<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/welcome.css">
  </head>
  <body>
    <h1>Parc</h1>
    <div id="header">
        <div id="login-header">
          <!-- <a class="navbutton" href="/login">login/register</a> -->
          <form action="/login">
            <input type="image" id="sign_in_button" src="../images/btn_google_signin_light_normal_web.png" />
          </form>
        </div>
    </div>
    <form>
      Location:
      <input type="text" name="location"></input>
      <select name="radius">
        <option value="1">1mi</option>
        <option value="1.5">1.5mi</option>
        <option value="2">2mi</option>
        <option value="2.5">2.5mi</option>
      </select>
      <br><br>Price:
      <input type="text" name="price"></input>
      <br><button>Submit</bottom>
    </form>
  </body>
</html>
